<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ssms.mapper.TaxMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.ssms.entity.Tax">
		<id column="staff_id" property="staffId" />
		<result column="tax_taxable" property="taxTaxable" />
		<result column="tax_rate" property="taxRate" />
		<result column="tax_calcu" property="taxCalcu" />
		<result column="tax_tax_money" property="taxTaxMoney" />
		<result column="check_time" property="checkTime" />
		<result column="tax_state" property="taxState" />
	</resultMap>

</mapper>
