<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tantan.ssms.mapper.TCheckMapper">
	<!--开启二级缓存-->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<resultMap id="BaseResultMap" type="org.tantan.ssms.entity.TCheck">
		<id column="Sta_Id" property="staId" />
		<result column="Che_Reason" property="cheReason" />
		<result column="Che_Time" property="cheTime" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        Sta_Id AS staId, Che_Reason AS cheReason, Che_Time AS cheTime
    </sql>
</mapper>
