<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tantan.ssms.mapper.TTaxMapper">
	<!--开启二级缓存-->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<resultMap id="BaseResultMap" type="org.tantan.ssms.entity.TTax">
		<id column="Sta_Id" property="staId" />
		<result column="Ta_Taxable" property="taTaxable" />
		<result column="Ta_Rate" property="taRate" />
		<result column="Ta_Calcu" property="taCalcu" />
		<result column="Ta_TaxMoney" property="taTaxmoney" />
		<result column="Ta_Time" property="taTime" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        Sta_Id AS staId, Ta_Taxable AS taTaxable, Ta_Rate AS taRate, Ta_Calcu AS taCalcu, Ta_TaxMoney AS taTaxmoney, Ta_Time AS taTime
    </sql>
</mapper>
