<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ssms.mapper.AbsentInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.ssms.entity.AbsentInfo">
        <id column="staff_id" property="staffId"/>
        <result column="absent_reason" property="absentReason"/>
        <result column="absent_apply_time" property="absentApplyTime"/>
        <result column="absent_start_time" property="absentStartTime"/>
        <result column="absent_end_time" property="absentEndTime"/>
        <result column="absent_days" property="absentDays"/>
        <result column="absent_check_time" property="absentCheckTime"/>
        <result column="absent_state" property="absentState"/>
        <result column="absent_money" property="absentMoney" />
        <result column="absent_detail" property="absentDetail" />
    </resultMap>

    <resultMap id="CheckResultMap" type="org.ssms.mapper.result.AbsentInfoCheck">
        <result column="staff_id" property="staffId"/>
        <result column="staff_name" property="staffName"/>
        <result column="absent_apply_time" property="absentApplyTime"/>
        <result column="absent_reason" property="absentReason"/>
        <result column="absent_start_time" property="absentStartTime"/>
        <result column="absent_end_time" property="absentEndTime"/>
        <result column="absent_check_time" property="absentCheckTime"/>
        <result column="absent_days" property="absentDays"/>
        <result column="absent_detail" property="absentDetail"/>
        <result column="absent_money" property="absentMoney"/>
    </resultMap>

    <select id="getAbsentInfoCheck" resultMap="CheckResultMap">
         SELECT
        a.staff_id,
        staff_name,
        absent_apply_time,
        absent_reason,
        absent_start_time,
        absent_end_time,
        absent_check_time,
        absent_days,
        absent_detail,
        absent_money
        FROM
        t_absent_info a, t_staff_info b
        WHERE a.staff_id = b.staff_id
        AND department_id IN (SELECT department_id
        FROM t_staff_info
        WHERE staff_id = #{staffId})
        AND absent_state = #{state}
        AND date_format(absent_check_time,'%Y-%m')=date_format(now(),'%Y-%m')
    </select>

    <select id="getStaffAbsentInfoPage" resultType="java.lang.String">
      SELECT
          DISTINCT a.staff_id
        FROM
          t_absent_info a, t_staff_info b
        WHERE a.staff_id = b.staff_id
        <if test="staffId!=null and staffId!=''">
          AND department_id IN (SELECT department_id
          FROM t_staff_info
          WHERE staff_id = #{staffId})
        </if>
          AND absent_state = 'd_pass'
        <if test="searchCondition!=null and searchCondition!=''">
          AND (a.staff_id=#{searchCondition} OR staff_name=#{searchCondition})
        </if>
        <if test="time!=null and time!=''">
            AND date_format(absent_check_time,'%Y-%m')=date_format(#{time},'%Y-%m')
        </if>
        <if test="id!=null and id !='' ">
            AND a.staff_id = #{id}
        </if>
    </select>

    <select id="getStaffAbsentInfoPageByDep" resultType="java.lang.String">
        SELECT
        DISTINCT a.staff_id
        FROM
        t_absent_info a, t_staff_info b
        WHERE a.staff_id = b.staff_id
                AND department_id = #{departmentId}
                AND absent_state = 'dtp'
                AND date_format(absent_check_time,'%Y-%m')=date_format(now(),'%Y-%m')
        <if test="searchCondition!=null and searchCondition!=''">
            AND (a.staff_id=#{searchCondition} OR staff_name=#{searchCondition})
        </if>
    </select>

    <select id="getAbsentInfoCheckByDep" resultMap="CheckResultMap">
        SELECT
        a.staff_id,
        staff_name,
        absent_apply_time,
        absent_reason,
        absent_start_time,
        absent_end_time,
        absent_check_time,
        absent_days
        FROM
        t_absent_info a, t_staff_info b
        WHERE a.staff_id = b.staff_id
        AND department_id = #{departmentId}
        AND absent_state = 'dtp'
        AND date_format(absent_check_time,'%Y-%m')=date_format(now(),'%Y-%m')
    </select>

    <update id="updateStatebatch">
        UPDATE t_absent_info
        SET absent_state = 'dtp'
        WHERE staff_id IN (
          SELECT staff_id
          FROM (
            SELECT a.staff_id staff_id
            FROM
              t_absent_info a, t_staff_info b
            WHERE a.staff_id = b.staff_id
                  AND department_id IN (SELECT department_id
                                        FROM t_staff_info
                                        WHERE staff_id = #{staffId})
                  AND date_format(absent_check_time, '%Y-%m') =
                      date_format(now(), '%Y-%m')) a
        ) AND absent_state = 'd_pass'
    </update>
</mapper>
