<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ssms.mapper.StaffInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.ssms.entity.StaffInfo">
        <id column="staff_id" property="staffId"/>
        <result column="staff_pass_word" property="staffPassWord"/>
        <result column="staff_name" property="staffName"/>
        <result column="staff_sex" property="staffSex"/>
        <result column="staff_identity_num" property="staffIdentityNum"/>
        <result column="department_id" property="departmentId"/>
        <result column="title_id" property="titleId"/>
        <result column="duty_id" property="dutyId"/>
        <result column="staff_entry_time" property="staffEntryTime"/>
        <result column="staff_bank_acount" property="staffBankAcount"/>
        <result column="staff_tel" property="staffTel"/>
        <result column="role_id" property="roleId"/>
    </resultMap>

    <resultMap id="BaseResultMap1" type="org.ssms.entity.viewentity.StaffInfoView" extends="BaseResultMap">
        <result column="department_name" property="departmentId"/>
        <result column="title_name" property="titleName"/>
        <result column="duty_name" property="dutyName"/>
        <result column="role_name" property="roleName"/>
        <result column="duty_salary" property="dutySalary"/>
        <result column="title_salary" property="titleSalary"/>
        <result column="title_basesalary" property="titleBaseSalary"/>
    </resultMap>

    <select id="selectStaffView" parameterType="org.ssms.web.param.StaffQueryParam" resultMap="BaseResultMap1">
        SELECT *
        FROM v_staff_info
        <where>
            <if test="param.staffId != null">
                staff_id = #{param.staffId}
            </if>
            <if test="param.staffName != null">
                AND staff_name = #{param.staffName}
            </if>
            <if test="param.departmentName != null">
                AND department_name = #{param.departmentName}
            </if>
        </where>
    </select>
</mapper>
