<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ssms.test.mapper.TDepartmentMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.ssms.test.entity.TDepartment">
		<id column="Dep_Id" property="Dep_Id" />
		<result column="Dep_Name" property="Dep_Name" />
	</resultMap>

</mapper>
