<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ssms.mapper.TRoleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.ssms.entity.TRole">
		<id column="R_Id" property="R_Id" />
		<result column="R_Name" property="R_Name" />
	</resultMap>

</mapper>
