<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ssms.mapper.TStaffInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.ssms.entity.TStaffInfo">
		<result column="员工编号" property="员工编号" />
		<result column="员工姓名" property="员工姓名" />
		<result column="性别" property="性别" />
		<result column="所属部门" property="所属部门" />
		<result column="手机号码" property="手机号码" />
		<result column="身份证号" property="身份证号" />
		<result column="职称" property="职称" />
		<result column="职务" property="职务" />
		<result column="银行卡账号" property="银行卡账号" />
		<result column="入职时间" property="入职时间" />
		<result column="角色名称" property="角色名称" />
	</resultMap>

</mapper>
