<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ssms.test.mapper.TTaxMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.ssms.test.entity.TTax">
		<id column="Sta_Id" property="Sta_Id" />
		<result column="Ta_Taxable" property="Ta_Taxable" />
		<result column="Ta_Rate" property="Ta_Rate" />
		<result column="Ta_Calcu" property="Ta_Calcu" />
		<result column="Ta_Tax_Money" property="Ta_Tax_Money" />
		<result column="Ta_Time" property="Ta_Time" />
		<result column="Ta_State" property="Ta_State" />
	</resultMap>

</mapper>
