<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ssms.mapper.TTitleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.ssms.entity.TTitle">
		<id column="Tit_Id" property="Tit_Id" />
		<result column="Tit_Name" property="Tit_Name" />
		<result column="Tit_Salary" property="Tit_Salary" />
		<result column="Tit_BaseSalary" property="Tit_BaseSalary" />
	</resultMap>

</mapper>
